.app {
    width: 500px;
    height: 400px;
    font-weight: 500;
    border: 1px solid #999;
    margin: 0 auto;
    margin-top: 30px;
}

.header {
    width: 500px;
    height: 50px;
    text-align: right;
    line-height: 50px;
    background-color: rgb(243, 238, 238);
}
.header a{
    margin-right: 30px;
}

.header .link:hover {
    text-decoration: underline;
}
.inthis {
    text-decoration: none;
}

.home p,.my-profile p,.about p , .products p,.product p{
    margin-left: 30px;
}
.about p a {
    color: red;
}

.products  .link{
    margin-left: 30px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: red;
}